.valeurs-container {
    width: 1023px;

    background-color: antiquewhite;
    margin: 38px auto 38px auto;
    display: flex;
    flex-direction: column;
    gap: 30px;


}

.valeurs-collapse {
    width: 100%;
    border-radius: 5px;
    gap: 30px;

}

.collapse-header {
    color: white;
    display: flex;
    justify-content: space-between;
    height: 52px;
    background-color: #FF6060;
}

.collapse-header p {
    font-size: 24px;
    font-weight: 700;
    margin-left: 15px;
    margin-top: 10px;
}

.collapse-header img {
    margin-right: 8px;
    margin-top: 11px;
}

.collapse content {
    padding: 20p
}