.banner {
    width: 100%;
    margin-top: 50px;

}

.banner-container {
    max-width: 1240px;
    height: 223px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 25px;
    overflow: hidden;
    margin: 0 auto;
    position: relative;
}

.img-banner {
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: brightness(0.6);
}

.banner-text {
    position: absolute;
    color: white;
    font-size: 48px;
    font-weight: 700;
}




@media (max-width: 768px) {
    .banner {
        margin-top: 27px;
    }

    .banner-container {
        width: auto;
        height: 111px;
        border-radius: 10px;
        margin: 20px 20px 0 20px;
        justify-content: flex-start;
        align-items: flex-start;
    }

    .banner-text {
        font-size: 24px;
        line-height: 24px;
        text-align: left;
        top: 31px;
        left: 16px;
        width: 235px;




    }
}