.logement-container {
    width: 100%;

}

.carrousel {
    width: 100%;
    position: relative;
    border-radius: 16px;
    overflow: hidden;
    height: 415px;
    margin-top: 50px;
}

.image {

    width: 1240px;
    height: 415px;
    object-fit: cover;
    display: block;
}


.left {
    position: absolute;
    top: 50%;
    left: 23px;
    background: none;
    border: none;
}

.right {
    position: absolute;
    top: 50%;
    right: 23px;
    background: none;
    border: none;
}

.text {
    position: absolute;
    left: 50%;
    font-size: 18px;
    color: white;
    bottom: 24px;
}