.logement-infos-wrapper {
    width: 100%;
    max-width: 1240px;
    margin-top: 50px;
    display: flex;
    flex-direction: column;


}

.title-loc {
    max-width: 635px;
    margin-top: 30px;

}



.logement-title {
    display: flex;
    flex-direction: column;
    width: 635px;
    font-weight: 500;
    color: #FF6060;
    font-size: 36px;
    text-align: left;
}

.logement-loc {
    display: flex;
    flex-direction: column;
    font-weight: 500;
    font-size: 18px;
    color: #000000;
    text-align: left;
    margin-bottom: 20px;

}

.tags-container {
    display: flex;
    gap: 10px;
    margin-bottom: 24px;


}

.tags {
    width: 115px;
    height: 25px;
    font-size: 14px;
    font-weight: 700;
    background-color: #FF6060;
    color: white;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;

}

.tag-text {
    font-size: 14px;
}

.infos-logement {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.host {
    display: flex;

    align-items: center;
    justify-content: space-between;
}

.host-name {
    color: #FF6060;
    font-weight: 500;
    font-size: 18px;
    margin-right: 10px;
}

.host-img {
    color: #C4C4C4;
    width: 64px;
    height: 64px;
    border-radius: 50%;
}

.rating {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top: 21px;
}

.star {
    width: 36px;
    height: 36px;

}

.details-logement {
    max-width: 1240px;

}


.collapse-container {
    display: flex;
    justify-content: space-between;
    gap: 76px;
    margin-bottom: 50px;

}

.collapse-box {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.desc,
.equip {
    width: 582px;
    height: 52px;
    border-radius: 5px;
    background-color: #FF6060;
    color: white;
    text-align: left;
    padding-left: 10px;
    font-size: 18px;
    font-weight: 700;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.arrow-img {
    width: 32px;
    height: 32px;
    margin-right: 10px;
    align-items: right;

}

.collapse-content p {
    font-size: 18px;
    font-weight: 400;
    color: #000000;
    text-align: left;
    margin-top: 25px;
    margin-left: 20px;

}

.collapse-content ul {
    margin: 0;
    list-style: none;
    margin-left: 20px;
    padding: 0;
    margin-top: 25px;
}

.collapse-content li {
    text-align: left;
    padding: 2px;
    color: #000000;
    font-weight: 400;
    font-size: 18px;
}