.title-loc {
    max-width: 635px;
    height: 77px;
    margin-top: 30px;
    border: 2px solid red;
}



.logement-title {
    width: 635px;
    font-family: 'Montserrat';
    font-weight: 500;
    color: #FF6060;
    font-size: 36px;
    text-align: left;
}

.logement-loc {
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 18px;
    color: #000000;
    text-align: left;
    margin-top: 10px;
}

.tags {
    display: flex;
    gap: 10px;
    width: 365px;
    margin-top: 20px;

}

.tags span {
    width: 115px;
    height: 25px;
    font-size: 14px;
    font-weight: 700;
    font-family: 'Montserrat';
    background-color: #FF6060;
    color: white;
    border-radius: 10px;
    gap: 10px;
    align-items: center;
    justify-content: center;

}

.infos-logement {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.host {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.host-name {
    color: #FF6060;
    font-weight: 500;
    font-size: 18px;
    font-family: 'Monserrat';
    margin-right: 10px;
}

.host-img {
    color: #C4C4C4;
    width: 64px;
    height: 64px;
}

.rating {
    width: 196px;
    height: 36px;
}

.details-logement {
    max-width: 1240px;
    border: 2px solid red;
}


.bloc3 {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.desc {
    width: 582px;
    height: 52px;
    border-radius: 5px;
    background-color: #FF6060;
    color: white;
    text-align: left;
    padding-left: 10px;
    font-family: 'Montserrat';
    font-size: 18px;
    font-weight: 700;

    display: flex;
    justify-content: space-between;
    align-items: center;

}

.arrow-img {
    width: 32px;
    height: 32px;

}