:root {



  letter-spacing: 0.18px;
  color-scheme: light dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}






body {
  margin: 0;
  font-family: 'Montserrat';
}

#root {

  max-width: 100%;
  margin: 0 auto;
  text-align: center;
  min-height: 100svh;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;

}

.container {
  width: 100%;
  max-width: 1240px;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  margin: 0 auto;
  text-align: center;
}





p {
  margin: 0;
}